.grid-item {
  background: #fff;
}

.donut-chart-title {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.donut-chart {
  position: relative;
  width: auto;
  margin: auto;

  .donut-rating.rating-red {
    color: #E7575C;

  }
  .donut-rating.rating-green {
  	color: #658F2F;
  }
  .donut-rating.rating-orange {
    color: #EE9825;
  }
  svg g text {
    display: none;
  }
}

.donut-rating {
  width: auto;
  height: 50px;
  overflow: visible;;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;


}

#channel .react-grid-layout table, #channel .react-grid-layout th {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  vertical-align: middle;
}
#channel .react-grid-layout table {
  border-top-color: #010202;
  border-bottom-style: none !important;
  margin-top: 15px;

  .rating-green {
  	background: #85BC40;
  	color: #658F2F;
  	border: 1px solid #658F2F !important;
  	font-size: 24px;
  	font-weight: bold;
    text-align: center;
  }

  .rating-orange {
  	background: #FED86F;
  	border: 1px solid #EE9825 !important;
  	font-size: 24px;
  	font-weight: bold;
  	text-align: center;
  	color: #EE9825;
  }

  .rating-red {
  	background: #FD8D90;
  	border: 1px solid #E7575C !important;
  	font-size: 24px;
  	font-weight: bold;
  	text-align: center;
  	color: #E7575C;
  }
}

#channel {
  // background: #eaeaea;
}

.fb-table-header {
  background: #404040;
  color: #fff;


  th {
    text-transform: none !important;
    font-weight: normal;
    letter-spacing: 1px;
    border-color: #010202 !important;
    border-width: 1px !important;
  }



}

.fb-theme-header {
  background: #404040;
  color: #fff;
  th {
    font-weight: normal;
    letter-spacing: 1px;
    border-color: #010202 !important;
    border-width: 1px !important;
  }

}

.green-text {
  color: #85BC40;
}
.red-text {
  color: #F47C6D;
  border-bottom: transparent !important;
}
tr td {
  text-transform: none !important;
}


:root {
    --progress-bg-color: #ddd;
    // --progress-fg-color: #2ecc40;
}

.CircularProgress-Bg,
.CircularProgress-Fg {
    fill: none;
}

.CircularProgress-Bg {
    stroke: var(--progress-bg-color);
}

.CircularProgress-Fg {
    transition: stroke-dashoffset .5s ease-in-out;
    // stroke: var(--progress-fg-color);
}

.CircularProgress-Text {
    font-family: sans-serif;
    font-size: 30px;
    fill: var(--progress-fg-color);

    transform: translate(0 50%);
}

.CircularProgress {
    transform: rotate(-90deg);
    display: block;
    margin: 0 auto;
}
