.grid-item {
  background: #fff;
  border: 1px solid #D5D5D5;
}

.donut-chart-title {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.donut-chart {
  position: relative;
  width: auto;
  margin: 20px auto;


  svg g text {
    display: none;
  }
}

.donut-rating {
  width: auto;
  height: 75px;
  overflow: visible;;
  text-align: center;
  font-weight: normal;
  color: #222;
  font-size: 48px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;


}

#channel .react-grid-layout table, #channel .react-grid-layout th {
  text-align: center;
  text-transform: none;
  font-size: 13px;
  font-weight: normal;
  vertical-align: middle;
}

#channel .react-grid-layout th {
  background-color: #222 !important;
  border: 1px solid #3E3E3E !important;
}

#channel .react-grid-layout .react-grid-item > table {
  border-top-color: #010202;
  border-bottom-style: none !important;
  margin-top: 15px;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;

  .rating-green, .rating-orange, .rating-red {
    border: 1px solid #EFEFEF;
  }

  .rating-green {
  	color: #85BC40;
  	font-size: 22px;
  	font-weight: normal;
    text-align: center;
  }

  .rating-orange {
    font-size: 22px;
  	font-weight: normal;
  	text-align: center;
  	color: #F4CF10;
  }

  .rating-red {
    font-size: 22px;
  	font-weight: normal;
  	text-align: center;
  	color: #D0021B;
  }
}

#channel {
  // background: #eaeaea;
}

.fb-table-header {
  background: #404040;
  color: #fff;


  th {
    text-transform: none !important;
    font-weight: normal;
    letter-spacing: 1px;
    // border-color: #010202 !important;
    // // border-width: 1px !important;
    // background-color: #222;
  }



}

.fb-theme-header {
  // background: #404040;
  // color: #fff;
      // border: 1px solid #EFEFEF;
  th {
    font-weight: normal;
    letter-spacing: 1px;
    // border-color: #010202 !important;
    // border-width: 1px !important;
    // background-color: #222;

  }



}

td[colspan="3"] {
  font-size: 12px;
  padding: 20px 0 20px 0;
}


.green-text {
  color: #71BB14;
}
.red-text {
  color: #F87070;
  border-bottom: transparent !important;
}
tr td {
  text-transform: none !important;
}

.table-bordered > tbody > tr > td {
border: 1px solid #efefef;
}


:root {
    --progress-bg-color: #ddd;
    // --progress-fg-color: #2ecc40;

}

.CircularProgress-Bg,
.CircularProgress-Fg {
    fill: none;
}

.CircularProgress-Bg {
    stroke: var(--progress-bg-color);
}

.CircularProgress-Fg {
    transition: stroke-dashoffset .8s ease-in-out;
    // stroke: var(--progress-fg-color);

}


.CircularProgress-Text {
    font-family: sans-serif;
    font-size: 30px;
    fill: var(--progress-fg-color);

    transform: translate(0 50%);
}

.CircularProgress {
    transform: rotate(-90deg);
    display: block;
    margin: 0 auto;
}

.fb-theme-header {
  td {
    padding: 0 !important;
  }
  table {
  width: 100%;

    tbody {

    }

    tr {
      td {
        padding: 5px 5px 4px 5px !important;
        border-bottom: 1px solid #efefef;
      }
    }
  }
}
