.interaction-toggle {
  height: 24px;
  background: #85BC40;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  text-align: center;

  div {
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
    line-height: 24px;
    background: url('/icons/ic_toc.png') no-repeat left;

    span:first-of-type {
      margin-left: 22px;
    }
  }


  .arrow-down {
    background: url('/icons/ic_keyboard_arrow_down.png') no-repeat center center;
    height: 24px;
    width: 20px;
    float: right;
    transform: rotate(180deg);

  }

  .arrow-up {
    background: url('/icons/ic_keyboard_arrow_down.png') no-repeat center center;
    height: 24px;
    width: 20px;
    float: right;
  }
}


.interaction-pts {
  display: none;
  height: 0px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  background: #6C6C6C;
  font-size: 12px;
  color: #fff;
  font-weight: 300;

  [class*="col-"] {
    align-items: baseline !important;
    padding-top: 10px !important;
  }

  ul {
    margin-left: -10px;
  }

  li {
    margin: 3px 0;
    list-style: none;
  }

  li:before {
    content:'\2022';
    display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -15px;
      top: -1px;
      font-size: 14px;
      color: #A4FF31;
  }
}

.interaction-pts.showRow {
  opacity: 1;
  height: 145px;
}
