/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.sprite {
	background-image: url('/icons/icon_sprite.png');
	position: absolute;
	top: 0px;
	right: 0;
	left: 0;
	margin: 20px auto 0 auto;
	width: 20px !important;

}


.sprite-leave {
	height: 12px;
	background-position: 0 0;
}

.sprite-seek-ext {
	height: 15px;
	background-position: -16px -12px;
}

.sprite-optimize {
	height: 13px;
	background-position: -31px -27px;
}

.sprite-get-help {
	height: 14px;
	background-position: -49px -40px;
}

.sprite-use {
	height: 18px;
	background-position: -66px -54px;
}

.sprite-first-imp {
	height: 15px;
	background-position: -79px -72px;

}

.sprite-purchase {
	height: 17px;
	background-position: -88px -87px;

}

.sprite-seek {
	height: 13px;
	background-position: -104px -104px;

}

.sprite-feedback-conf {
	background: url('/icons/feedback_conf.png') no-repeat top left;
  background-position: 0%;
	height: 15px;
}

.sprite-text-ana {
	height: 19px;
	background-position: -132px -132px;
  margin-top: -30px;
}

.sprite-ease-bus {
	background: url('/icons/ease_bus.png') no-repeat top left;
  background-position: -3%;
	height: 15px;
}

.sprite-cust-satisf {
	// width: auto;
	// height: 16px;
	// background-position: -174px -176px;
	background: url('/icons/cust_satisf.png') no-repeat top left;
  background-position: -3%;
	height: 15px;
}

.sprite-int-points {
	height: 9px;
	background-position: -192px -192px;
}

.sprite-cust-exp {
	height: 22px;
	background-position: -211px -201px;
}

.sprite-left-col {
  padding-left: 30px !important;
  margin-left: 10px;
}
