/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.sprite {
	background-image: url('/icons/icon_sprite.png');
  padding-left: 20px;

}


.sprite-leave {
	width: 16px;
	height: 12px;
	background-position: 0 0;
}

.sprite-seek-ext {
	width: 15px;
	height: 15px;
	background-position: -16px -12px;
}

.sprite-optimize {
	width: 18px;
	height: 13px;
	background-position: -31px -27px;
}

.sprite-get-help {
	width: 17px;
	height: 14px;
	background-position: -49px -40px;
}

.sprite-use {
	width: 13px;
	height: 18px;
	background-position: -66px -54px;
}

.sprite-first-imp {
	width: 9px;
	height: 15px;
	background-position: -79px -72px;
}

.sprite-purchase {
	width: 16px;
	height: 17px;
	background-position: -88px -87px;
  margin-left: -10px;
}

.sprite-seek {
	width: 13px;
	height: 13px;
	background-position: -104px -104px;
  margin-left: -10px;
}

.sprite-feedback-conf {
	width: auto;
	height: 15px;
	background-position: -117px -117px;
}

.sprite-text-ana {
	width: auto;
	height: 19px;
	background-position: -132px -132px;
  margin-top: -30px;
}

.sprite-ease-bus {
	background: url('/icons/icon_ease.png') no-repeat top left;
  background-position: -3%;
}

.sprite-cust-satisf {
	width: auto;
	height: 16px;
	background-position: -174px -176px;
}

.sprite-int-points {
	width: auto;
	height: 9px;
	background-position: -192px -192px;
}

.sprite-cust-exp {
	width: 27px;
	height: 22px;
	background-position: -211px -201px;
}

.sprite-left-col {
  padding-left: 30px !important;
  margin-left: 10px;
}
