@import 'imports';



body {
  background: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
}
.mui-appbar {
  color: #85BC40;
  background: #010202;
	min-height: 50px;

}
.mui--appbar-height {
	height: 50px;
}
.mui--appbar-height.header {
	font-size: 14px;
	font-weight: bold;
	padding-left: 50px;
	letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;

}
.mui-appbar .mui-btn {
  background-color: transparent;
}

.mui-btn.active {
  background: #85BC40;
}

.nav-items {
	vertical-align: bottom;
	.mui-btn {
		margin: 0;
    font-size: 12px;
float: right;
height: 30px;
border-radius: 0px;
line-height: 30px;
	}
}


/*

Datepicker + Dropdown

*/
.rating-key {
	float: right;
}
.datepicker {
  max-width: 400px;
  display: inline-block;
}
.datepick {
	margin-top: 15px;
  margin-left: 30px;


	.input-daterange {
		margin: 20px 40px;
	}
	.input-group-addon {
		background: #fff;
		border-style: none;
	}

	.input-group {
    width: 300px;
	}

	.datepick-btn {
		color: #85BC40;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-table;
    vertical-align: top;
    background: white;
    border: 1px solid #85BC40;
    margin-left: 20px;
    margin-top: 1px;
	}

  .datepick-btn[disabled], .datepick-btn[disabled]:hover {
    background: #8a8a8a;
    border-color: #fff;
    color: #fff;
  }

	.datepick-btn:hover {
		color: #fff;
		background-color: #85BC40;

	}


}

//enable absolute positioning
.inner-addon {
    position: relative;
		display: inline-table;
		margin-right: 40px;
}

//style icon
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
	color: #84BC40;
    z-index: 999;
}

// align icon
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

// add padding
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.inner-addon span {
    position: absolute;
    padding: 10px;
    color: #000;
		font-weight: 700;
    z-index: 999;
    line-height: 1;
    top: 1px;
}


/*
 * Row with equal height columns
 * --------------------------------------------------
 http://getbootstrap.com.vn/examples/equal-height-columns/
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.row-eq-height [class*="col-"] {
	display: inline-flex;
	align-items: center;
	justify-content: center;

}

/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */
.container {
  padding-right: 15px;
  padding-left: 15px;
}

h4 {
  margin-top: 25px;
}

.survey {
	margin: 10px;
}
.survey .row {
  margin-bottom: 0px;
}
.survey .row .row {
  margin-top: 0;
  margin-bottom: 0;
}

.survey .row-eq-height [class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  // background-color: #F6F5F5;
  // background-color: rgba(86,61,124,.15);
  // border-top: 1px solid #ddd;
	// border-bottom: 1px solid #ddd;
	// border-left: 1px solid #ddd;
	// border-right: 1px solid #ddd;
  // border: 1px solid rgba(86,61,124,.2);
  background: #e6e6e6;
  margin: 3px;

}

.survey > .col-sm-12 {
  margin: 0 auto;
  float: none;

}

.survey .row-eq-height > div:last-of-type {
	border-right: 1px solid #ddd !important;
}

.row-header {
	background-color: #b5b5b5 !important;
	border-style: none !important;
	color: #454545;
	font-weight: normal;
  font-size: 12px;
  align-items: stretch !important;
text-align: left;
justify-content: flex-start !important;
}

.col-header {
	background-color: transparent !important;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
	color: #84BC40;
	letter-spacing: .05em;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: none !important;
}
.survey .row-eq-height > .col-header:last-of-type {
  border-right: none !important;
}

.row-header.light-gray-bg {
	background-color: #d0d0d0 !important;
}

.col-md-1.col-header {
    font-size: 12px;
    font-weight: bold;
}


.text-analytics {
  font-size: 12px;
}
/*

Interaction points Row

*/

.interaction-pts .btn {
	background: #fff;
	border: 3px solid #85BC40;
	color: #85BC40;
	margin: 5px;
	font-weight: bold;
	padding: 3px 6px;
}

.interaction-pts .btn:hover {
	background: #85BC40;
	color: #fff;
}

.interaction-pts .col-md-1 {
  max-height: 60px;
}

/*

Customer Satisfaction Row

*/

.fb-ratings .col-md-1 {
  max-height: 70px;
}
.row .rating-green {
	// background: #85BC40;
	color: #658F2F;
	// border: 1px solid #658F2F !important;
	font-size: 30px;
	font-weight: bold;
}

.row .rating-orange {
	display: inline-flex;
	// background: #FED86F;
	// border: 1px solid #EE9825 !important;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #EE9825;
	align-items: center;
	justify-content: center;

}

.row .rating-red {
	display: inline-flex;
	// background: #FD8D90;
	// border: 1px solid #E7575C !important;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #E7575C;
	align-items: center;
	justify-content: center;
}

.fb-ratings span {
  border-radius: 50%;
  border: 5px solid grey;

  padding: 0px 15px 0 15px;
}


/*

Text Analytics Rows

*/

.text-analytics {
	font-weight: 600;
	.positive {
		color: #85BC40;
	}
	.negative {
		color: #F47C6D;
	}
}


/*
Desktop browser width fixes

*/
.desktop .react-wrapper > .container-fluid {
  min-width: 980px;
}

.desktop .mui-appbar {
  min-width: 980px;
}

/*
Tablet fixes

*/
@media all and (min-width:768px) and (max-width:1024px) {
  .col-md-1 {
    width: 120px;
  }
  .col-md-2 {
    width: 240px;
  }
  .col-md-4 {
    width: 480px;
  }

  .thermometer {
    position: absolute;
    top: 0;
    right: -25px;
  }

  .datepick {
    margin-left: 0;
  }

  .rating-key {

    margin-right: 30px;
  }
}


@media (min-width:992px){
  .text-analytics .col-md-2 {
    width: 22.52222%;
  }
  .text-analytics .col-md-4 {
    width: 45.94444%;
  }
}
