@import 'imports';


body {
  background: #F6F5F5;
	font-family: 'Open Sans', sans-serif;
}
.mui-appbar {
  color: #85BC40;
  background: #010202;
	min-height: 50px;

}
.mui--appbar-height {
	height: 60px;
}
.mui--appbar-height.header {
	font-size: 28px;
	font-weight: normal;
	padding-left: 50px;
	letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;

}
.mui-appbar .mui-btn {
  background-color: #fff;
  color: #ABABAB;
}

.mui-btn.active {
  background: #85BC40;
  color: #fff;
}

.nav-items {
	vertical-align: bottom;
  float: right;
  margin-top: 10px;
  margin-right: 60px;
	.mui-btn {
		margin: 0;
    font-size: 13px;
height: 40px;
border-radius: 0px;
line-height: 40px;
	}
}


/*

Datepicker + Dropdown

*/
.rating-key {
	float: right;
  padding-right: 0;
}
.datepicker {
  max-width: 400px;
  display: inline-block;
  padding-left: 0;

  > div {
    display: inline-block;
  }
}
.datepick {
	margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;

  svg {
    float: right;
  }
	.input-daterange {
		margin: 20px 40px;
	}
	.input-group-addon {
		background: #fff;
		border-style: none;
    font-weight: bold;
    padding-right: 0;
	}

	.input-group {
    width: 290px;
    border: 1px solid #d5d5d5;
    input {
      border: none;
      border-radius: 0px;
      box-shadow: none;
    }
	}

	.datepick-btn {
		color: #fff;
    display: inline-table;
    vertical-align: top;
    background: #85BC40;
    border: 1px solid #85BC40;
    margin-left: 20px;
    margin-top: 1px;
    height: 50px;
    width: 78px;
    border-radius: 0;
    float: right;
    text-transform: uppercase;
	}

  .datepick-btn[disabled], .datepick-btn[disabled]:hover {
    background: #8a8a8a;
    border-color: #fff;
    color: #fff;
  }

	.datepick-btn:hover {
		color: #fff;
		background-color: #85BC40;

	}


}
/*

NPS SCORE

*/

#channel {
  .nps-row {
    padding-left: 20px;
  }
  .nps-score {
    margin-bottom: 0;
    margin-top: -55px;
  }
}
.nps-score {
  display: table;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  background: #292A35;
  color: #fff;
  margin: 0 auto;
  height: 50px;
  width: 250px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
  margin-top: -56px;

  span:first-of-type {
    background: url('/icons/nps_score.png') no-repeat;
    background-position: left;
    display: block;
    text-align: right;
    margin-right: 15px;
  box-shadow: 2px 0px 28px -5px rgba(41,42,53,1);

  }
  .nps-number {
    display: table-cell;
    width: 78px;
    height: 50px;
    background: #fff;
    border: 1px solid #D5D5D5;
  }
}

//enable absolute positioning
.inner-addon {
    position: relative;
		display: inline-table;
		margin-right: 40px;
}

//style icon
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
	color: #84BC40;
    z-index: 999;
}

// align icon
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

// add padding
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.inner-addon span {
    position: absolute;
    padding: 10px;
    color: #000;
		font-weight: 700;
    z-index: 999;
    line-height: 1;
    top: 1px;
}


/*
 * Row with equal height columns
 * --------------------------------------------------
 http://getbootstrap.com.vn/examples/equal-height-columns/
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.row-eq-height [class*="col-"] {
	display: inline-flex;
	align-items: center;
	justify-content: center;

}

/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */
.container {
  padding-right: 15px;
  padding-left: 15px;
}

h4 {
  margin-top: 25px;
}

.survey {
	margin: 0 35px;
}
.survey .row {
  margin-bottom: 0px;
}
.survey .row .row {
  margin-top: 0;
  margin-bottom: 0;
}

.survey .row-eq-height [class*="col-"] {
  padding: 15px 0px 15px 0px;
  border-top: none;
  // box-shadow: 0 0 1px #EFEFEF;

}

.survey .row.table-header [class*="col-"] {
  border-right: 1px solid #464646 !important;
  box-shadow: 0 0 1px #222222 !important;
}

.survey > .col-sm-12 {
  margin: 0 auto;
  float: none;

}

.survey .row-eq-height > div:last-of-type {
	// border-right: 1px solid #ddd !important;
}

.row-header {
	background-color: #F3F3F3 !important;
	color: #222;
  font-size: 13px;
  // letter-spacing: .05em;
  font-weight: bold;
  text-align: center;
  // justify-content: flex-start !important;
}

.row-title {
  margin-top: 25px;
}

.col-header {
	background-color: transparent !important;
	font-size: 10px;
	text-align: center;
	color: #fff;
  letter-spacing: .1em;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: none !important;
}
.survey .row-eq-height > .col-header:last-of-type {
  border-right: none !important;
}

.row-header.light-gray-bg {
	background-color: #d0d0d0 !important;
}

.col-md-1.col-header {
    font-size: 12px;
    font-weight: 600;
    // letter-spacing: .1em;

    span:nth-of-type(2) {
      margin-top: 20px;
    }

}

.cust-exp-title {
  font-size: 12px;
    font-weight: 600;
    letter-spacing: .1em;
    text-align: center;
    margin-top: 20px;
}

.text-analytics {
  font-size: 12px;
}


.table-header {
  background-color: #222222 !important;
  color: #fff;
  // padding: 20px 0;
  // prevent icon overlap
  .col-md-1 {
    // padding-left: 30px;
  }
}
/*

Interaction points Row

*/

.interaction-pts .btn {
	background-color: transparent;
	border: none;
	color: #222;
	margin: 5px;
	font-weight: bold;
	padding: 3px 6px;
}

.interaction-pts .btn:hover {
	color: #85BC40;
}

.interaction-pts .col-md-1 {
  // max-height: 60px;
}

/*

Customer Satisfaction Row

*/

.fb-ratings {
  border-bottom: 1px solid #EFEFEF;
}
.fb-ratings .col-md-1 {
  // max-height: 70px;
}
.row .rating-green {
	// background: #85BC40;
	color: #85BC40;
	// border: 1px solid #658F2F !important;
	font-size: 20px;
}

.row .rating-orange {
	display: inline-flex;
	// background: #FED86F;
	// border: 1px solid #EE9825 !important;
	font-size: 20px;
	text-align: center;
	color: #F4CF10;
	align-items: center;
	justify-content: center;

}

.row .rating-red {
	display: inline-flex;
	// background: #FD8D90;
	// border: 1px solid #E7575C !important;
	font-size: 20px;
	text-align: center;
	color: #D0021B;
	align-items: center;
	justify-content: center;
}

.fb-ratings span {
  // border-radius: 50%;
  // border: 5px solid grey;
  //
  // padding: 0px 15px 0 15px;
}


/*

Text Analytics Rows

*/

.text-analytics {
	font-weight: 600;
  border-bottom: 1px solid #EFEFEF;
  box-shadow: 0 1px #FFF;

	.positive {
		color: #85BC40;
	}
	.negative {
		color: #F47C6D;

	}

  .pos-title {
    font-size: 12px;
  }

  .col-md-2, .col-md-4 {
    font-weight: normal;
  }
}


/*
Desktop browser width fixes

*/
.desktop .react-wrapper > .container-fluid {
  min-width: 980px;
}

.desktop .mui-appbar {
  min-width: 980px;
}

/*
Tablet fixes

*/
@media all and (min-width:768px) and (max-width:1024px) {
  .col-md-1 {
    width: 120px;
  }
  .col-md-2 {
    width: 240px;
  }
  .col-md-4 {
    width: 480px;
  }

  .thermometer {
    position: absolute;
    top: 0;
    right: -25px;
  }

  .datepick {
    margin-left: 0;
    margin-right: 0;

    .input-group {
      width: 275px;
    }

    .datepick-btn {
      width: 65px;
      margin-left: 0;
      right: 40px;
    }
  }

  .rating-key {


  }
}




/*

ICONS

*/

.cust-exp {
  background: url('/icons/cust_exp.png') top center no-repeat !important;
  margin: auto;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 0;
  left: 0;
  margin-top: 10px;
}

.cust-exp-title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1em;
  text-align: center;

}

/*
 Row Backgrounds
*/


.white-bg {
   background: #fff;
}



.survey > .col-sm-12 {
  border: 1px solid #EFEFEF;

}

.fb-ratings .row-header{
  border-bottom: 1px solid #EFEFEF !important;
  box-shadow: none;
}

.fb-conf .row-header {
  border-top: 1px solid #EFEFEF !important;
}
