.theme-table {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  td {
    border: 1px solid #EFEFEF;
    padding: 4px 7px;
    font-weight: normal;
    margin: 0;
  }

  tr {
    padding: 0;
    margin: 0;
  }
}


.text-analytics [class*="col-"] {
  padding: 0 !important;
}
